<?xml version="1.0"?>
<config>
    <modules>
        <Viamo_Test>
            <version>1.0.0</version>
        </Viamo_Test>
    </modules>
    <global>
        <blocks>
            <viamo_test>
                <class>Viamo_Test_Block</class>
            </viamo_test>
        </blocks>
        <helpers>
            <viamo_test>
                <class>Viamo_Test_Helper</class>
            </viamo_test>
        </helpers>
        <models>
            <viamo_test>
                <class>Viamo_Test_Model</class>
            </viamo_test>
        </models>
        <resources>
            <viamo_test_setup>
                <setup>
                    <module>Viamo_Test</module>
                </setup>
            </viamo_test_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <viamo_test>
                <use>standard</use>
                <args>
                    <frontName>test</frontName>
                    <module>Viamo_Test</module>
                </args>
            </viamo_test>
        </routers>
    </frontend>
</config>
